USE [master]
GO
/****** Object:  Database [JavaWeb]    Script Date: 2018/3/7 11:25:51 ******/
CREATE DATABASE [JavaWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JavaWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JavaWeb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JavaWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JavaWeb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaWeb]
GO
/****** Object:  Table [dbo].[DepartmentInfo]    Script Date: 2018/3/7 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentInfo](
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[CompanyPlace] [nvarchar](100) NOT NULL,
	[CompanyBrith] [date] NULL,
	[CompanyType] [int] NOT NULL,
	[CompanyRemark] [nvarchar](200) NULL,
	[CompanyNo] [nvarchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectInfo]    Script Date: 2018/3/7 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectInfo](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Place] [nvarchar](100) NULL,
	[StartTime] [date] NULL,
	[EndTime] [date] NULL,
	[FinishTime] [date] NULL,
	[BudgetMoney] [float] NULL,
	[NowMoney] [float] NULL,
	[State] [int] NOT NULL,
	[ReleaseCompanyNo] [nvarchar](20) NULL,
	[AcceptCompanyNo] [nvarchar](20) NULL,
	[Remark] [nvarchar](200) NULL,
	[ProjectNo] [nvarchar](20) NULL,
 CONSTRAINT [PK_ProjectInfo] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 2018/3/7 11:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[UserPwd] [nvarchar](35) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_DepartmentInfo]    Script Date: 2018/3/7 11:25:52 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentInfo] ON [dbo].[DepartmentInfo]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DepartmentInfo]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentInfo_UserLogin] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserLogin] ([UserId])
GO
ALTER TABLE [dbo].[DepartmentInfo] CHECK CONSTRAINT [FK_DepartmentInfo_UserLogin]
GO
USE [master]
GO
